{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'prac/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'prac/css/jumbotron.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">

    
      <div class="container">

        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Categdddory</h2>
          
             {% for shit in queryset  %}
               {% for shity in shit.djangos.all  %}
                 
               
  
       
            <ul class="list-group">


              <li class="list-group-item list-group-item-success">{{shit.code}} </li>

            </ul> 
            
              {% endfor %}
              {% endfor %}
              
          
                         
           

            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>

          <div class="col-md-4">
            <h2>Headjjing</h2>
  {% for tv in tvmovie  %}

      <ul class="list-group">
                  
        <li class="list-group-item list-group-item-danger"> Tv Name | {{tv.name}}</li>

      </ul> 
      
         {% for m in tv.movie.all  %}

            <ul class="list-group">
              
              <li class="list-group-item list-group-item-success">  {{m.title}}</li>
      
            </ul> 

            <div class="mv-img">
              <!-- <img src="{{m.banner.url}}" alt="" width="185" height="284"> -->
            </div>

              {% endfor %}
                           
  {% endfor %}
              
     
          </div>
          <div class="col-md-4">
            <h2>oh forenkey</h2>
       
  {% for recent in recent  %}
  
      


            <ul class="list-group">
         
            <li class="list-group-item list-group-item-success">{{recent.coupon.code}}</li>

            </ul> 
{% endfor %}

          </div>
        </div>

        <hr>

      </div> <!-- /container -->
    
      <div class="container">

        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>PerSon Directed</h2>
          
            {% for p in person  %}
              
              {% for pd in p.directed.all  %}
                
    
            <ul class="list-group">

              <li class="list-group-item list-group-item-success"> {{p.first_name}}  {{p.last_name}}</li>

            </ul> 
                         
            {% endfor %}
            {% endfor %}

            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>




          <div class="col-md-4">
            <h2>Writers of Movies</h2>

        {% for p in person  %}
              
      {% for d in p.writers.all  %}

           
                  <ul class="list-group">
    <li class="list-group-item list-group-item-danger">  {{p.first_name}} </li>
  </ul> 
      
                      {% endfor %}
        {% endfor %}
   


            <ul class="list-group">
              
              <li class="list-group-item list-group-item-success">  {{m.title}}</li>
      
            </ul> 

            <div class="mv-img">
         
            </div>
     
          </div>





          <div class="col-md-4">
            <h2>crw</h2>
       
            {% for p in person  %}
            
            <ul class="list-group">
         
              <!-- <li class="list-group-item list-group-item-danger"> {{p.first_name}} {{p.last_name}}</li> -->
  
              </ul> 
  
   {% for d in p.crew_movie.all  %}
          
            <ul class="list-group">
         
            <li class="list-group-item list-group-item-success"> {{p.title}} {{p.last_name}}</li>

            </ul> 

  
{% endfor %}
       
{% endfor %}
       
      
          </div>

          <div class="col-md-4">
            <h2>crw</h2>
       
            {% for p in blog  %}
            
            <ul class="list-group">
         
              <li class="list-group-item list-group-item-danger"> {{p.headline}} </li>
  
              </ul> 
  

          
            <ul class="list-group">
         
            <li class="list-group-item list-group-item-success"> {{p.name}} </li>

            </ul> 

  
{% endfor %}
       

       
      
          </div>

          <div class="col-md-4">
            <h2>Ecomerce</h2>
       
  
          {% for object in queryset  %}
            
  
            <ul class="list-group">
         
            <li class="list-group-item list-group-item-success"> {{object.title}} </li>

            </ul> 

            {% endfor %}
       

      
          </div>

        </div>

        <hr>

      </div> <!-- /container -->



    </main>

    <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer>












    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static  'js/vendor/jquery-slim.min.js' %}  "><\/script>')</script>
    <script src="{% static 'prac/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'prac/js/bootstrap.min.js' %}"></script>


  </body>
</html>
