
{% extends "eco/base.html" %}
{% load static %}
{% block content %}


  <body>

    <div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'eco:EcoIndex' %}">Home</a></li>
                  <li aria-current="page" class="breadcrumb-item active">My wishlist</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-3">
              <!--
              *** CUSTOMER MENU ***
              _________________________________________________________
              -->
              <div class="card sidebar-menu">
                <div class="card-header">
                  <h3 class="h4 card-title">Customer section</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column">
                    <a href="{% url 'eco:order-summary' %}" class="nav-link active">
                      <i class="fa fa-list"></i> My orders</a>
                      <a href="{% url 'eco:wish-summary' %}" class="nav-link"><i class="fa fa-heart"></i> My wishlist</a>
                      <!-- <a href="{% url 'eco:account-summary' %}" class="nav-link"><i class="fa fa-user"></i> My account</a> -->
                
                </div>
              </div>
              <!-- /.col-lg-3-->
              <!-- *** CUSTOMER MENU END ***-->
            </div>

              <div class="row products">
              {% for wish in object %}

             
            
                <div class="col-lg-3 col-md-4">
                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="{{wish.item.get_absolute_url}}"><img src="{{wish.item.image.url}}" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="{{wish.item.get_absolute_url}}"><img src="{{wish.item.image.url}}" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="{{wish.item.get_absolute_url}}" class="invisible"><img src="{{wish.item.image.url}}" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3><a href="{{wish.item.get_absolute_url}}">{{wish.item.title|capfirst}}</a></h3>

                      <p class="price"> 
                        {% if wish.item.discount_price %}
                     
                        <del>${{wish.item.discount_price|floatformat:2}}</del>
                             
                        {% endif %}
                        ${{wish.item.price|floatformat:2}}
                      </p>

                      <p class="buttons"><a href="{{wish.item.get_absolute_url}}" class="btn btn-outline-secondary">View detail</a>
          

                        <a href="{{wish.item.get_add_to_wish_url}}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add</a>
                        <a href="{{wish.item.get_remove_to_wish_url}}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Remove</a>
                      </p>

                    
               

                    </div>

                    <!-- /.text-->
                    {% if wish.item.label1 %}
              
                    <div class="ribbon sale">
                      <div class="theribbon">{{wish.item.get_label1_display}}</div>
                      <div class="ribbon-background"></div>
                    </div>
        
                    {% endif %}
                    {% if wish.item.label2 %}
                    <!-- /.ribbon-->
                    <div class="ribbon new">
                      <div class="theribbon">{{wish.item.get_label2_display}}</div>
                      <div class="ribbon-background"></div>
                    </div>
                                 
                    {% endif %}
                    <!-- /.ribbon-->
                    {% if wish.item.label3 %}
                    <div class="ribbon gift">
                      <div class="theribbon">{{wish.item.get_label3_display}}</div>
                      <div class="ribbon-background"></div>
                    </div>
                    <!-- /.ribbon-->
                                      
                    {% endif %}
                  </div>
                  <!-- /.product            -->
                </div>

                {% endfor %}
                 
            
    
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
   
    

 

  </body>

    
  {% endblock content %}